<div>
  <div #buttonHeader
       [attr.aria-label]="'component.quiz_manager.details.aria.btn_group' | translate"
       class="btn-group btn-header mb-4 overflow-auto d-flex flex-grow-1"
       data-toggle="buttons"
       role="group">
    <button (click)="toInfoContent(elem.id)"
            *ngFor="let elem of infoButtons"
            [class.btn-light]="currentData !== elem.id"
            [class.btn-primary]="currentData === elem.id"
            [routerLink]="['/info', elem.id]"
            class="btn text-nowrap"
            type="button">
      <span>{{elem.i18nRef | translate}}</span>
    </button>
    <button *ngIf="isExternalLinkEnabled('projectBlog')"
            class="btn btn-light text-nowrap"
            onclick="window.open('https://arsnova.thm.de/blog/arsnova-click/', '_blank', 'noopener noreferrer');"
            type="button">
      <span>{{'region.footer.footer_bar.blog' | translate}}</span>
    </button>
    <button (click)="openApiDocsWindow()"
            *ngIf="isExternalLinkEnabled('backendApi')"
            class="btn btn-light text-nowrap"
            type="button">
      <span>{{'region.footer.footer_bar.api-docs' | translate}}</span>
    </button>
  </div>
  <div *ngIf="currentData === 'about'"
       id="infoElement">
    <h3 [innerHTML]="'region.footer.about.declaration' | translate"
        class="mb-2"></h3>
    <p [innerHTML]="'region.footer.about.ars' | translate"></p>
    <p [innerHTML]="'region.footer.about.developed_by' | translate"></p>
    <p [innerHTML]="'region.footer.about.met_requirements' | translate"></p>
    <ul>
      <li [innerHTML]="'region.footer.about.requirements.1' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.2' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.3' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.4' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.5' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.6' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.7' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.8' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.9' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.10' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.11' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.12' | translate"></li>
      <li [innerHTML]="'region.footer.about.requirements.13' | translate"></li>
    </ul>
    <h3 [innerHTML]="'region.footer.about.manual.title' | translate"></h3>
    <p [innerHTML]="'region.footer.about.manual.text.1' | translate"></p>
    <p [innerHTML]="'region.footer.about.manual.text.2' | translate"></p>
    <p [innerHTML]="'region.footer.about.manual.text.3' | translate"></p>
  </div>
  <div *ngIf="currentData === 'tos'"
       id="tosElement">
    <h3 [innerHTML]="'global.arsnova_slogan' | translate"
        class="mb-2"></h3>
    <p [innerHTML]="'region.footer.tos.declaration' | translate"></p>
    <h3 [innerHTML]="'region.footer.tos.license.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.tos.license.text' | translate"></p>
    <h3 [innerHTML]="'region.footer.tos.musicLicense.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.tos.musicLicense.text' | translate"></p>
    <h3 [innerHTML]="'region.footer.tos.warranty.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.tos.warranty.text' | translate"></p>
  </div>
  <div *ngIf="currentData === 'imprint'"
       id="imprintElement">
    <h3 [innerHTML]="'region.footer.imprint.provider.title' | translate"
        class="mb-2"></h3>
    <p [innerHTML]="'region.footer.imprint.provider.text.1' | translate"></p>
    <ul class="list list-unstyled">
      <li [innerHTML]="'region.footer.imprint.provider.text.2' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.3' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.4' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.5' | translate"></li>
    </ul>
    <ul class="list list-unstyled">
      <li [innerHTML]="'region.footer.imprint.provider.text.6' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.7' | translate"></li>
    </ul>
    <ul class="list list-unstyled">
      <li [innerHTML]="'region.footer.imprint.provider.text.8' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.9' | translate"></li>
    </ul>
    <ul class="list list-unstyled">
      <li [innerHTML]="'region.footer.imprint.provider.text.10' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.11' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.12' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.13' | translate"></li>
      <li [innerHTML]="'region.footer.imprint.provider.text.14' | translate"></li>
    </ul>
  </div>
  <div *ngIf="currentData === 'dataprivacy'"
       id="dataprivacyElement">
    <h3 [innerHTML]="'region.footer.data_privacy.scope' | translate"
        class="mb-2"></h3>
    <p [innerHTML]="'region.footer.data_privacy.declaration' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.app_data.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.app_data.text' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.access_data.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.access_data.text' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.logfiles.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.logfiles.text' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.3rdparty.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.3rdparty.text' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.cookies.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.cookies.text' | translate"></p>

    <h3 [innerHTML]="'region.footer.data_privacy.piwik.title' | translate"
        class="mb-2 mt-3"></h3>
    <p [innerHTML]="'region.footer.data_privacy.piwik.text' | translate"></p>
  </div>
</div>
