$primary: #757575;
$secondary: #c4c4c4;
$invers: rebeccapurple;
$light: #acacac;
$dark: black;
$info: yellow;
$success: #008A00;
$warning: #FF8C00;
$danger: #f44336;

$primary_text_color: white;
$secondary_text_color: #757575;

$modal-content-bg: #2b2b2b;
$modal-content-color: white;
$modal-header-border-color: transparent;

$body-bg: #010101;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $dark;
$pre-color: $secondary;

$border-loader_wrapper-outer_spin: #3498db;
$border-loader_wrapper-middle_spin: #e74c3c;
$border-loader_wrapper-inner_spin: #f9c922;

$bg-answer-result-correct: $success;
$fg-answer-result-correct: $primary_text_color;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $primary_text_color;
$bg-answer-result-wrong: $danger;
$fg-answer-result-wrong: $primary_text_color;

$progress-bg: transparent;

$link-color: #0fbbad;
$link-decoration: none;
$link-hover-color: #0c988d;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$card-bg: #000;
$card-color: #fff;
$card-border-color: rgba(white, .125) !default;

$statistics-icon-opacity: 0.7;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
    $theme-colors,
    (
      invers:$invers,
    )
);

$colors: map-merge(
    $colors,
      (
      )
);

$bg-footer: #010101;
$footer-color: white;

$colorChangingBg: (
  0: (fg: white, bg: black),
  50: (fg: white, bg: black),
  100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
  0: (fg: white, bg: $primary),
  25: (fg: white, bg: $warning),
  50: (fg: white, bg: $warning),
  75: (fg: white, bg: $warning),
  100: (fg: white, bg: $primary)
);

$colorChangingArs: (
  0: (fg: white, bg: transparent),
  25: (fg: #b22222, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: #ffd700, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingNova: (
  0: (fg: #ffd700, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: #b22222, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: #ffd700, bg: transparent)
);

$colorChangingDot: (
  0: (fg: white, bg: transparent),
  25: (fg: #ffd700, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: #b22222, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingClick: (
  0: (fg: #b22222, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: #ffd700, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: #b22222, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": white, ".arsnova-logo-nova": $warning, ".arsnova-logo-click": white, ".westermann": white);

$popover-body-color: black;

$code-color: $primary_text_color;

@import "postbuild";
